.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}

body {
    margin: 0;
}

.section1,
.footer {
    background: #1f2937;
}

img {
    height: 100px;
    width: 250px;
}

.note1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.note2 {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 114px;
    padding-top: 10x;
}

.registration,
.section4 {
    background-color: #3882f6;
}

.registration {
    display: inline-block;
    width: 110px;
    height: 32px;
    margin-top: 10px;
}

.randominfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
}

.inspiringquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.leftside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.info {
    display: flex;
    justify-content: space-around;
}
