body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.section1,
.footer {
    background: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 150px;
    margin-top: 10px;
}

.toprightlinks {
    margin-right: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-between;
}

.leftside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin-left: 150px;
}

.note1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.note2 {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 220px;
    width: 500px;
    margin-right: 150px;
}




.registration,
.section4 {
    background-color: #3882f6;
}

.registration {
    display: inline-block;
    width: 400px;
    height: 32px;
    margin-top: 10px;
    color: #f9faf8;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.section4 {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 140px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 85px;
    border-radius: 10px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}

.quote1 {
    color: #f9faf8;
    font-weight: 700;
    font-size: 40px;
    margin-left: 100px;
}

.quote2{
    color: #e5e7eb;
    font-size: 30px;
    margin-left: 100px;
}

.signup {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border-color: #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 28px;
    margin-right: 100px;
}

.randominfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
    height: 400px;
}

.inspiringquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-left: 400px;
    padding-right: 400px;
}

.customer {
    display: flex;
    justify-content:end;
    padding-right: 400px;
    font-size: 25px;
    font-weight: 600;
}




.image1,
.image2,
.image3,
.image4 {
    border-radius: 25px;
    height: 200px;
    width: 200px;
}

.birds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.midbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 150px;
    padding: 50px;
    color: #1f2937;
}

.boxes1,
.boxes2,
.boxes3,
.boxes4 {
    width: 200px;
}




.randominfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

